<div>
    <div class="align-center">
        <div>
            <div class="basic-info">
                <p class="info-data align-center default-font">PREDSTAVA</p>
                <h3 class="select-date-title align-center bold-font">{{eventName.toUpperCase()}}</h3>
                <p class="info-data align-center default-font">REŽIJA I ADAPTACIJA - SOFIJA RISTIĆ</p>
            </div>
            <div class="main-container">
                <div class="bold-font align-center">
                    UNESITE PODATKE:
                </div>
                <hr>
                <div class="align-center">
                    <form (ngSubmit)="onSubmit()" [formGroup]="reservationForm">
                        <div class="form-group">
                            <input 
                                class="bold-font" 
                                type="text" 
                                placeholder="IME I PREZIME*" 
                                required
                                id="name"
                                name="name"
                                formControlName="name">
                            <div 
                                [hidden]="checkFormControlValidation('name')"
                                class="alert-font">
                                <i>Ime i prezime su obavezni.</i>
                            </div>
                        </div>
                        <div class="form-group">
                            <input 
                                class="bold-font" 
                                type="email"
                                placeholder="EMAIL ADRESA*" 
                                required
                                id="email"
                                name="email"
                                formControlName="email">
                            <div 
                                [hidden]="checkFormControlValidation('email')"
                                class="alert-font">
                                <i>Email adresa je obavezna.</i>
                            </div>
                        </div>
                        <div class="form-group">
                            <input 
                            class="bold-font" 
                            type="text"
                            placeholder="TELEFON" 
                            id="phoneNumber"
                            name="phoneNumber"
                            formControlName="phoneNumber">
                        </div>
                        <div class="form-group" style="
                        display: flex;
                        flex-direction: column;
                        align-items: center;">
                            <label for="quantity" class="bold-font align-center" style="margin-right: 10px; margin-bottom: 10px;">BROJ KARATA*</label>
                            <div class="number-input" style="display: flex; justify-content: center;">
                                <button (click)="changeTicketCount(-1)" type="button"></button>
                                <input 
                                    class="quantity bold-font" 
                                    min="1" 
                                    max="2"
                                    name="quantity"  
                                    type="number" 
                                    required 
                                    id="ticketCount" 
                                    name="ticketCount" 
                                    style="margin-top: 4px; margin-bottom: 4px;"
                                    formControlName="ticketCount">
                                <button (click)="changeTicketCount(1)" class="plus" type="button"></button>
                            </div>  
                            <div 
                                [hidden]="checkFormControlValidation('ticketCount')"
                                class="alert-font">
                                <i>Karte su obavezne.</i>
                            </div>
                            <div 
                                [hidden]="checkFormControlValidation('ticketCountMax')"
                                class="alert-font">
                                <i>Maksimalni broj karata je 2.</i>
                            </div>
                        </div>
                        <div class="default-font submit-button">
                            <button 
                                type="submit" 
                                class="btn btn-data" 
                                [disabled]="reservationForm.invalid ? true : null">
                                REZERVIŠI KARTU
                            </button>
                        </div>
                        <hr class="form-hr">
                        <div *ngIf="ticketInfoIsLoaded">
                            <div *ngIf="ticketState.count != 0; else tickets_unavailable">
                                <div class="bold-font align-center">
                                    Cena karte: {{this.ticketState.price}} RSD | Dostupno: {{this.ticketState.count}}
                                </div>
                            </div>
                            <div>
                                <ng-template #tickets_unavailable>
                                    <div class="bold-font align-center">
                                        Nema karata na stanju.
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>