input:focus {
    outline: none !important;
    color: white;
}

input {
    background-color: #a6a68e;
    border-color: white;
    border-style: none;
    margin-bottom: 10px;
    padding: 4px;
    text-shadow: 0.5px 0.5px 1px black;
    margin-top: 10px;
}

::placeholder {
    color: white;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
 }

.alert-font {
    font-size: x-small;
    font-weight: bold;
    color: rgb(167, 4, 4);
    margin-bottom: 8px;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(166, 166, 142) inset !important;
}
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 1px solid white;
    display: inline-flex;
    margin-bottom: 8px;
    margin-top: 2px;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0.75rem;
    height: 1.5px;
    background-color: white;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    max-width: 2.5rem;
    padding: .5rem;
    border: solid white;
    border-width: 1px 1px;
    font-size: 1rem;
    height: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

.submit-button {
  margin-bottom: 8px;
}

.form-hr {
  width: 80%;
}