::ng-deep .mat-tab-list {
    margin-bottom: 75px;
    user-select: none;
}

::ng-deep .mat-tab-labels {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

::ng-deep .mat-tab-label-content {
    font-size: large;
    font-weight: bold;
    color: white;
}

::ng-deep mat-ink-bar {
    display: none;
}

::ng-deep .mat-tab-label-active {
    background-color: rgb(102, 102, 88);
}

.main-container{
    justify-content: start;
    height: 90vh;
    width: 80vw;
    overflow-y: scroll;
}