<div>
    <div class="align-center">
        <div>
            <div class="basic-info">
                <p class="info-data align-center default-font">PREDSTAVA</p>
                <h3 class="select-date-title align-center bold-font">{{eventName.toUpperCase()}}</h3>
                <p class="info-data align-center default-font">REŽIJA I ADAPTACIJA - SOFIJA RISTIĆ</p>
            </div>
            <div class="main-container">
                <div class="bold-font" style="padding: 50px;">
                    Uspešno ste rezervisali karte. U roku od 24h će Vam stići potvrda putem mejla (proverite sve foldere u slučaju da zaluta u „Junk“). 
                </div>
            </div>
        </div>
    </div>
</div>