<div>
    <div class="align-center">
        <div>
            <div class="basic-info">
                <p class="info-data align-center default-font">PREDSTAVA</p>
                <h3 class="select-date-title align-center bold-font">{{eventName.toUpperCase()}}</h3>
                <p class="info-data align-center default-font">REŽIJA I ADAPTACIJA - SOFIJA RISTIĆ</p>
            </div>
            <div class="main-container">
                <div class="bold-font" style="padding: 50px;">
                    Uspešno ste rezervisali karte. U roku od 24h stići će Vam potvrda putem mejla, kao i podaci za uplatu. Molimo Vas da proverite sve foldere ukoliko poruka zaluta u "Junk" ili "Spam". 
                </div>
            </div>
        </div>
    </div>
</div>