<div *ngIf="isLoaded">
    <div class="align-center">
        <div>
            <div class="basic-info">
                <p class="info-data align-center default-font">PREDSTAVA</p>
                <h3 class="select-date-title align-center bold-font">{{mainEvent.name.toUpperCase()}}</h3>
                <p class="info-data align-center default-font">REŽIJA I ADAPTACIJA - {{mainEvent.directorName}}</p>
            </div>
            <div class="main-container">
                <div class="bold-font align-center">
                    Izaberite odgovarajući termin/datum:
                </div>
                <hr>
                <div class="align-center" 
                     style="flex-direction: column; 
                            max-height: 50%;
                            max-width: 100%;">
                    <div class="grid-div scrollbar" style="margin-bottom: 15px;">
                        <div *ngFor="let eventOccurrence of mainEvent.eventOccurrences;">
                            <div class="grid-child">
                                <button class="btn" (click)="selectEventOccurrence(eventOccurrence.id, mainEvent.name)" style="width: 120px; margin-bottom: 6px;">
                                    <span class="btn-data bold-font">{{eventOccurrence.startTime | date: 'MM.dd hh:mm'}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="default-font align-center">
                    REZERVISI KARTU
                </div>
            </div>
        </div>
    </div>
</div>