ul {
    margin-bottom: 15px; 
    height: auto;
    width: auto;
}

.btn:disabled{
    text-decoration-line: line-through;
    text-decoration-color: red !important;
  }

.title {
    position: relative; 
}