<div *ngIf="isLoaded">
    <div class="align-center">
        <div>
            <div class="basic-info">
                <p class="info-data align-center default-font">PREDSTAVA</p>
                <h3 class="select-date-title align-center bold-font">{{mainEvent.name.toUpperCase()}}</h3>
                <p class="info-data align-center default-font">REŽIJA I ADAPTACIJA - {{mainEvent.directorName}}</p>
            </div>
            <div class="main-container">
                <div class="bold-font align-start title">
                    Rezervacija karte
                </div>
                <div class="bold-font align-center">
                    Izaberite odgovarajući termin/datum:
                </div>
                <hr>
                <div class="align-center" 
                     style="flex-direction: column; 
                            max-height: 50%;
                            max-width: 100%;">
                    <div class="grid-div scrollbar" style="margin-bottom: 15px;" 
                    *ngIf="filterEventOccurrencesLength(mainEvent.eventOccurrences) != 0; else event_occurrences_unavailable">
                        <div *ngFor="let eventOccurrence of filterEventOccurrences(mainEvent.eventOccurrences);">
                            <div class="grid-child">
                                <button [disabled]="getTicketState(eventOccurrence)" class="btn" (click)="selectEventOccurrence(eventOccurrence.id, mainEvent.name)" style="width: 120px; margin-bottom: 6px;">
                                    <span class="btn-data bold-font">{{eventOccurrence.startTime | date: 'dd.MM HH:mm'}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ng-template #event_occurrences_unavailable>
                        <div class="bold-font align-center">
                            Trenutno nema aktivnih dogadjaja.
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>