::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-header-cell:first-of-type {
  padding: 0 !important;
}

::ng-deep td {
  padding: 0 !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(166, 166, 142) !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgb(166, 166, 142) !important;
}

::ng-deep mat-icon{
  padding-left: 5px;
}

.main-table {
  width: 70vw;
}

th {
  height: 3vh;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(166, 166, 142);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  padding-left: 24px !important;
  width: calc(100% - 24px);
}

.example-element-detail table {
  width: 100%;
}

.inner-table {
  width: 100%;
  box-shadow: none;
}