::ng-deep .mat-button-wrapper, .mat-table, .mat-paginator, .mat-form-field {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 500;
  color: white;
}

::ng-deep .mat-flat-button {
  background-color: rgb(166, 166, 142, 0.9);
}

::ng-deep .mat-raised-button {
  color: white;
  background-color: rgb(136, 136, 119);
}

::ng-deep .mat-table, .mat-option {
  background-color: rgb(166, 166, 142, 0.9);
}

::ng-deep .mat-option-text {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 500;
  color: white;
}

::ng-deep .mat-select-panel {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 500;
  color: white;
  background-color: rgb(166, 166, 142, 0.9);
}

::ng-deep .mat-select-value {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  font-weight: 500;
  color: white;
}

::ng-deep .mat-focused {
  color: black !important;
}

::ng-deep .mat-option {
  background-color: rgb(166, 166, 142, 0.9);
}

::ng-deep .mat-paginator {
  background-color: rgb(166, 166, 142);
}

::ng-deep .mat-header-cell, .mat-cell {
  font-size: large;
  font-weight: 500;
  color: white;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-header-cell:first-of-type {
  padding: 0 !important;
}

::ng-deep td {
  padding: 0 !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(102, 102, 88) !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgb(102, 102, 88) !important;
}

::ng-deep mat-icon{
  padding-left: 5px;
}

.main-table {
  width: 70vw;
}

th {
  height: 3vh;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(151, 151, 131);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: rgb(136, 136, 117);
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  padding-left: 24px !important;
  width: calc(100% - 24px);
}

.example-element-detail table {
  width: 100%;
}

.inner-table {
  width: 100%;
  box-shadow: none;
}