<div class="mat-elevation-z8">
  <table mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="Datum" matSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let eventOccurrence"> {{eventOccurrence[column]}} </td>
    </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let eventOccurrence" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" *ngIf="eventOccurrence.reservations?.data.length" [@detailExpand]="eventOccurrence == expandedElement ? 'expanded' : 'collapsed'">
            <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
              <table mat-table #innerTables #innerSort="matSort" [dataSource]="eventOccurrence.reservations" matSort>
                <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
                  <td mat-cell *matCellDef="let eventOccurrence"> {{eventOccurrence[innerColumn]}} </td>
                </ng-container>
                <th mat-header-row *matHeaderRowDef="innerDisplayedColumns"></th>
                <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>
  
      <th mat-header-row *matHeaderRowDef="columnsToDisplay"></th>
      <tr mat-row *matRowDef="let eventOccurrence; columns: columnsToDisplay;" [class.example-element-row]="eventOccurrence.reservations?.length"
       [class.example-expanded-row]="expandedElement === eventOccurrence" (click)="toggleRow(eventOccurrence)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of eventOccurrences"></mat-paginator>
</div>